<div {{ attributes }}>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <twig:Button
        formnovalidate
        variant="success"
        class="hover:animate-wiggle"
    >
        {{ button_label|default('Enregistrer') }}
    </twig:Button>
    {{ form_end(form) }}
</div>
