<tr class="even:bg-gray-700 odd:bg-gray-600" id="voyage-list-item-{{ voyage.id }}">
    <td class="px-6 py-4 whitespace-nowrap">{{ voyage.id }}</td>
    <td class="px-6 py-4">{{ voyage.objectif }}</td>
    <td class="px-6 py-4 whitespace-nowrap">
        {{ voyage.depart ? voyage.depart|date('Y-m-d H:i:s') : 'Non défini' }}
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="flex items-center gap-4">
            <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}" class="text-sm text-blue-400 hover:text-blue-600">
                Voir
            </a>

            <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}" class="text-sm text-yellow-400 hover:text-yellow-600">
                Modifier
            </a>

            <form method="post" action="{{ path('app_voyage_delete', {'id': voyage.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');" class="inline">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voyage.id) }}">
                <button class="text-sm text-red-400 hover:text-red-600" type="submit">Supprimer</button>
            </form>
        </div>
    </td>
</tr>
